body{
	background: #DEE0E4;
	background: url(../images/bg.jpg);
}

.header{
	margin-top: 8px;
}

.navbar-default{
	background: transparent;
	border-color: transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: #e7e7e7;
	background:#03084C;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #FFF;
    text-transform: uppercase;
    background: #FF6400;
    font-weight: 900;
    font-size: 20px;
    transition: all 0.4s ease;
}

.navbar-default .navbar-brand sup{
	font-size: 12px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active
.navbar-default .navbar-nav>li>a:focus {
	color: #cecece;
	background-color: #3A3F74;
	transition: all 0.4s ease;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active
 .navbar-default .navbar-nav>li>a:focus {
    color: #ff6400;
    background-color: #03084c;
    transition: all 0.4s ease;
}

.one{
  position: relative;
}
.bg-section{
  background-image: url("../images/surveyor-home-page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: #eee;
}
.bg-section h1{
    color: #fff;
    font-size: 42px;
    font-weight: 600;
}

.bg-section p{

      color: #848181;
}
.slider-text{
     position: absolute;
    top: 30%;
    left: 17%;
    transform: translate(0%,80%);
    -webkit-transform: translate(0%,80%);
    -moz-transform: translate(0%,80%);
  }
.second-part{
    padding-top: 60px;
}
.white{
  background: #fff;
}
.padding{
  padding-bottom: 60px;
}
.second-part-left{
   padding-left: 15px;
}

.second-part-left img{
    border: 0;
    max-width: 40px;
}

.second-part-left h2{
   color: #FF5A00;
   padding-right: 50px;
}
.second-part-left span{
    background: #FF5A00;
    color: #fff;
}
.second-part-right h2{
   color: #181883;
   margin-bottom: -10px;
}
.second-part-right p{
    padding-top: 15px;
    color: #9e9494;
}
.second-part-right b{
  font-size: 25px;
}
.second-part-right a{
  color: #FF5A00;
}

.third-written-part{
 text-align: center;
 background-color: #f36a35
}
.third-written-part h2{
    color: #FF5A00;
    padding-top: 15px;
}
.third-written-part p{
    padding: 15px 295px;
    color: #6b5e5e;
}
.geometry-part{
	background-color:#f36a35
}

.geometry-part img{
    padding: 23px;
    padding-left: 26px;
}
.geometry-part h3{

}
.geometry-part p{
    color: #fff;
    padding-bottom: 25px
 } 
 .geometry-part button{
    margin-bottom: 25px;
    text-align: center;
    padding: 9px 38px;
    color: #fff;
    background: #1e1e48;
    font-size: 15px;

 }
.carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
    
    height: 20vh;
}
.carousel .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 110px;
   }
 .contant-part{
    height: 100vh;
    background: #FF5A00;
    text-align: center;
    padding-left: 20px;
 }
 .contant-part h3{
    color: #fff;
    padding-top: 110px;
    font-size: 25px;
    font-weight: 600;
  
  }
 .contant-part p{
    text-align: left;
    padding: 10px;
    color: #e4dfdf
 }
 .contant-part img{
      max-height: 100vh;
  
 }
 .contant-padding{
      padding:100px;
 }
 .btn { 
    padding: 8px 19px;
    font-size: 15px;
    border-radius: 0px;
}
.background{

  background: #1d3548;
}
.upper-footer{
  

}
.upper-footer b, strong {
    font-weight: bold;
    float: left;
    padding-right: 10px;
}
.upper-footer h3{
    color: #fff;
    font-weight: 600;
    padding: 10px;
}
.upper-footer sup{}
.upper-footer span{
     color: #545494;
}
.upper-footer p{
      color: #fff;
}
.upper-footer u{
      float: left;
      text-decoration: none;
}
.back{
  background-color: #03084C;
}
.last{

}
hr {
     margin-top: 0px; 
     margin-bottom: 0px; 
     border: 0;
     margin: 1px;
     border-top: 0px; 
}
.last p{
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 25px;
}
.last i{

}